<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" defer>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <title>YelpCamp</title>
    </head>
    
    <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item <%= typeof page !== 'undefined' && page==='campgrounds' ? 'active' : '' %>">
                    <a class="nav-link" href="/campgrounds">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== 'undefined' && page==='login' ? 'active' : '' %>">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item <%= typeof page !== 'undefined' && page==='register' ? 'active' : '' %>">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signed In As <%= currentUser.username %> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LogOut</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
    